/*  ========================================================================  *\

    V M J  ~  B A S E . C S S

    * C O M E N T
    
    * HTML, BODY
    *     html, body (background-image);

\*  ========================================================================  */


/*  ========================================================================  *\
    H T M L ,  B O D Y
\*  ========================================================================  */

html, body {
    width: 100%;
    height: 100%;
    background: url('../image/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 100%;
}