/*  ========================================================================  *\

    V M J  ~  B A S E . C S S

\*  ========================================================================  */

/*  ========================================================================  *\
    H T M L ,  B O D Y
\*  ========================================================================  */

html, body {
    display:                grid;
    grid-template-rows:     auto 1fr;
    grid-template-columns:  auto;
    grid-template-areas:    "header"
                            "main"
                            "aside";

    margin:                 0 auto;
    padding:                0 auto;

    overflow-x:             hidden;
    overflow-y:             hidden;
    overflow:               scroll;
    scrollbar-width:        none;
}

    body {
        background:           url('#') no-repeat center center fixed;
        background-size:      cover;
        background-repeat:    no-repeat;
        background-position:  left;

        font-family:          'Raleway', cursive;
        font-weight:          bold;
        color:                teal;
        text-shadow:          0.138vh 0.138vh rgba(0, 0, 0, 1);
    }


/*  ========================================================================  *\
    B A C K G R O U N D  C O L O R S
\*  ========================================================================  */

    body {background-color: white;}

    header {background-color: blueviolet;}
        .profile-image {background-color: brown;}
        .social-media {background-color: aqua;}
        .section-headline {background-color: chartreuse;}
        .section {background-color: darkorange;}
            .section-write {background-color: darkorchid;}

    main, aside {background-color: darkred;}
        .student-countainer, .work-countainer {background-color: green;}
        .student-item, .work-item {background-color: deeppink;}