/*  ========================================================================  *\

    V M J  ~  B A S E . C S S

    * C O M E N T
    
    * HTML, BODY
    *     html, body;                   (background-image)
    *         body::-webkit-scrollbar;  (scrollbar)
    *         body;                     (scrollbar)
    *     @media screen and...;

\*  ========================================================================  */


/*  ========================================================================  *\
    H T M L ,  B O D Y
\*  ========================================================================  */

html, body {
    display:          block;
    
    width:            100%;
    height:           100%;
    margin:           0 auto;
    padding:          0vh 0vh 5vh 0vh;

    background:       url('#') no-repeat center center fixed;
    background-size:  cover;

    text-align:       center;

    overflow-y:       auto;           /* Függőleges görgetés engedélyezése */
}

    body::-webkit-scrollbar {         /* Hide scrollbar for Chrome, Safari and Opera */
        display:  none;  
    }

    body {                            /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style:  none;    /* IE and Edge */
        scrollbar-width:     none;    /* Firefox */
    }

    
/*  ========================================================================  *\
    H T M L ,  B O D Y  -  @ m e d i a
\*  ========================================================================  */

/*  Álló nézet stílusok  */
@media screen and (orientation: portrait) {
    body {
        display:  block;
    }
}
    
/*  Fektetett nézet tiltása  */
@media screen and (orientation: landscape) {
    body {
        display:  none;
    }
    
        body::before {
            content:     "Please turn the phone back to portrait view.";
            display:     block;

            font-size:   24px;
            text-align:  center;
            margin-top:  50vh;
        }
}