/*  ========================================================================  *\

    V M J  ~  C O M P O N E N T S . C S S

    * C O M E N T
    
    * FONTS
    *     h1, h2 & contact, contact, p;
    *
    * IMAGE
    *     img, img a:hover;
    *
    * REFERENCES
    *     a, a:hover, a:active;

\*  ========================================================================  */


/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 1.56vw;  /*  30px/19.2px=1.562vw  (1920px/100=19.2px=1vw)  */
    letter-spacing: 0.25vw;
}
  
h2,
.contact{
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 1vw;  /*  20px/19.2px=1.041vw  */
    letter-spacing: 0.25vw;
}

.contact {
    color: rgba(255, 0, 0, .9);
    text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.75), -0.1vw -0.1vw #444;
}
  
p {
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 0.73vw;  /*  14px/19.2px=0.729vw  */
    line-height: 1vw;
    letter-spacing: 0.1vw;
}

    @media (max-width: 1024px) {
        h1 {
            font-size: 2.9vw;  /*  30px/10.24px=2.929vw  (1024px/100=10.24px=1vw)  */
        }

        h2,
        .contact{
            font-size: 1.95vw;  /*  20px/10.24px=1.953vw  */
        }

        p {
            font-size: 1.36vw;  /*  14px/10.24px=1.367vw  */
            line-height: 1.36vw;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 4.95vw;  /*  38px/7.68px=4.9479vw  (768px/100=7.68px=1vw)  */
        }

        h2,
        .contact{
            font-size: 3.26vw;  /*  25px/7.68px=3.2552vw  */
        }

        p {
            font-size: 2.28vw;  /*  17.5px/7.68px=2.2786vw  */
            line-height: 2.28vw;
        }
    }


/*  ========================================================================  *\
    I M A G E
\*  ========================================================================  */

img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%);
}

    img:hover {
        transform: scale(1.4);
        filter: grayscale(20%);
    }

    @media (max-width: 1080) {
        img {
            width: 30vh;
            height: 30vh;
        }
    }

    @media (max-width: 768px) {
        img {
            width: 30vh;
            height: 30vh;
        }
    }


/*  ========================================================================  *\
    R E F E R E N C E S
\*  ========================================================================  */

a {
    font-family: 'Raleway', cursive;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 0, 0, .9);
    text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.75), -0.1vw -0.1vw #444;
    font-size: 1vw;  /*  20px/19.2px=1.041vw  */
}

    a:hover {
        font-family: 'Raleway', cursive;
        font-weight: bold;
        color: rgba(255, 255, 0, 1);
        text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.75), -0.1vw -0.1vw #444;
        transition: all 0.5s ease-in-out;
        font-size: 1vw;  /*  20px/19.2px=1.041vw  */
        letter-spacing: 0.1vw;
    }

    a:active {
        font-family: 'Raleway', cursive;
        font-weight: bold;
        color: rgba(255, 255, 0, 1);
        text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.75), -0.1vw -0.1vw #444;
        font-size: 1vw;  /*  20px/19.2px=1.041vw  */
        letter-spacing: 0.1vw;
        box-shadow: hsla(0, 0%, 0%, .8) 0.5vw 0.5vw 2vw;
    }

    @media (max-width: 1024px) {
        a, a:hover, a:active {
            font-size: 1.95vw;  /*  20px/10.24px=1.953vw  (1024px/100=10.24px=1vw)  */
        }
    }

    @media (max-width: 768px) {
        a, a:hover, a:active {
            font-size: 3.26vw;  /*  25px/7.68px=3.2552vw  */
        }
    }