/*  ========================================================================  *\

    V M J  ~  C O M P O N E N T S . C S S

    * C O M E N T
    
    * FONTS
    *     h1, h2 & contact, contact, p;
    *
    * IMAGE
    *     img, img a:hover;
    *
    * REFERENCES
    *     a, a:hover, a:active;

\*  ========================================================================  */


/*  ========================================================================  *\
    F O N T S
\*  ========================================================================  */

h1 {
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 4.5vh;
    letter-spacing: 0.25rem;
}
  
h2,
.contact{
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 3vh;
    letter-spacing: 0.25rem;
}

.contact {
    color: rgba(255, 0, 0, .9);
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75), -0.1rem -0.1rem #444;
}
  
p {
    font-family: 'Raleway', cursive;
    font-weight: bold;
    font-size: 2vh;
    line-height: 2.4vh;
    letter-spacing: 0.1rem;
}


/*  ========================================================================  *\
    I M A G E
\*  ========================================================================  */

img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%);
}

    img:hover {
        transform: scale(1.4);
        filter: grayscale(20%);
    }

    @media (max-width: 768px) {
        img {
            width: 30vh;
            height: 30vh;
        }
    }


/*  ========================================================================  *\
    R E F E R E N C E S
\*  ========================================================================  */

a {
    font-family: 'Raleway', cursive;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 0, 0, .9);
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75), -0.1rem -0.1rem #444;
    font-size: 3vh;
}

    a:hover {
        font-family: 'Raleway', cursive;
        font-weight: bold;
        color: rgba(255, 255, 0, 1);
        text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75), -0.1rem -0.1rem #444;
        transition: all 0.5s ease-in-out;
        font-size: 3vh;
        letter-spacing: 0.1rem;
    }

    a:active {
        font-family: 'Raleway', cursive;
        font-weight: bold;
        color: rgba(255, 255, 0, 1);
        text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75), -0.1rem -0.1rem #444;
        font-size: 3vh;
        letter-spacing: 0.1rem;
        box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 40px;
    }