/*  ========================================================================  *\

    V M J  ~  L A Y O U T . C S S

\*  ========================================================================  */

/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */

header {
    grid-area:      header;
    position:       relative;

    width:          60vw;
    height:         66vh;
    margin-top:     28vh;
    margin-bottom:  5vh;
    padding:        0 auto;

    border-top:     0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
    border-bottom:  0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
    border-radius:  0vh 25vh 0vh 25vh;
}

    .profile-image {
        position:    absolute;
        top:         -20vh;
        left:        10vh;

        width:       40vh;
        height:      40vh;
        margin:      0 auto;
        padding:     0 auto;
    }

        img {
            width:             40vh;
            height:            40vh;
            border-radius:     50%;
            padding:           0.1vh;
            background-color:  rgba(0, 0, 0, 0.5);
            transition:        all 1s ease-in-out;
            filter:            grayscale(80%);
        }

        img:hover {
            transform:  scale(1.3);      /*  130%  */
            filter:     grayscale(20%);
        }

    .social-media {
        position:        absolute;
        top:             20vh;
        left:            4vh;

        width:           40vh;
        height:          10vh;
        padding:         2vh 2vh 2vh 2vh;
        letter-spacing:  1vh;

        text-align:      left;
    }

    .section-headline{
        position:    absolute;
        top:         0vh;
        right:       4vh;

        width:       35vw;
        height:      30vh;
        padding:     6vh 2vh 2vh 2vh;
    }

    .section {
        position:       absolute;
        top:            30vh;
        left:           4vh;
        right:          4vh;

        width:          auto;
        height:         auto;
        padding:        4vh 2vh 4vh 2vh;

        border-top:     0.2vh solid rgba(0, 0, 0, 0.625);
    }


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area:      main;
    border-radius:  25vh 0vh 25vh 0vh;
}

aside {
    grid-area:      aside;
    border-radius:  0vh 25vh 0vh 25vh;
}

main, aside {
    width:          calc(60vw - 8vh);
    height:         auto;
    margin-bottom:  5vh;
    padding:        4vh 4vh 4vh 4vh;
    border-top:     0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
    border-bottom:  0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
}

    .student-countainer,
    .work-countainer {
        width:    auto;
        height:   auto;
        margin:   0 auto;
        padding:  2vh 2vh 2vh 2vh;
    }

        .student-item, 
        .work-item {
            width:    auto;
            height:   auto;
            margin:   0 auto;
            padding:  0vh 2vh 0vh 2vh;  
        }


        
/*  ========================================================================  *\
    @ M E D I A  Q U E R I E S  ~  7 6 8 p x
\*  ========================================================================  */

@media (max-width: 768px) {
    header {
        grid-area:      header;
        position:       relative;
    
        width:          auto;
        height:         75vh;
        margin-top:     19vh;
        margin-right:   2vh;
        margin-bottom:  6vh;
        margin-left:    2vh;
        padding:        0 auto;
    
        border-top:     0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
        border-bottom:  0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
        border-radius:  0vh 15vh 0vh 15vh;
    }
    
        .profile-image {
            position:    absolute;
            top:         -13vh;
            left:        4vh;
    
            width:       26vh;
            height:      26vh;
            margin:      0 auto;
            padding:     0 auto;
        }
    
            img {
                width:             26vh;
                height:            26vh;
                border-radius:     50%;
                padding:           0.1vh;
                background-color:  rgba(0, 0, 0, 0.5);
                transition:        all 1s ease-in-out;
                filter:            grayscale(80%);
            }
    
            img:hover {
                transform:  scale(1.3);      /*  130%  */
                filter:     grayscale(20%);
            }
    
        .social-media {
            position:        absolute;
            top:             3vh;
            right:           4vh;
    
            width:           auto;
            height:          5vh;
            padding:         2vh 2vh 2vh 2vh;
            letter-spacing:  1vh;

            text-align:      right;
        }
    
        .section-headline{
            position:    absolute;
            top:         12.5vh;
            right:       4vh;
            left:        4vh;
    
            width:       auto;
            height:      30vh;
            padding:     2vh 0vh 2vh 0vh;
        }
    
        .section {
            position:       absolute;
            top:            30vh;
            left:           2vh;
            right:          2vh;
    
            width:          auto;
            height:         auto;
            padding:        4vh 0vh 4vh 0vh;
    
            border-top:     0.2vh solid rgba(0, 0, 0, 0.625);
        }

    main {
        grid-area:      main;
        border-radius:  15vh 0vh 15vh 0vh;
    }
    
    aside {
        grid-area:      aside;
        border-radius:  0vh 15vh 0vh 15vh;
    }
    
    main, aside {
        width:          auto;
        height:         auto;
        margin-top:     0vh;
        margin-right:   2vh;
        margin-bottom:  6vh;
        margin-left:    2vh;
        padding:        2vh 2vh 4vh 2vh;
        border-top:     0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
        border-bottom:  0.555vh solid rgba(0, 0, 0, 0.625);  /*  4px  */
    }
    
        .student-countainer,
        .work-countainer {
            width:    auto;
            height:   auto;
            margin:   0 auto;
            padding:  2vh 0vh 2vh 0vh;
        }
    
            .student-item, 
            .work-item {
                width:    auto;
                height:   auto;
                margin:   0 auto;
                padding:  0vh 2vh 0vh 2vh;  
            }
}